{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}
    <h1 class="mt-3">
        Catégories
        <a href="{{ path('app_category_new') }}" title="Ajouter une nouvelle catégorie"><i class="fa-solid fa-circle-plus"></i></a>
        <a href="{{ path('app_article_index') }}" title="Liste des articles"><i class="fa-solid fa-dolly"></i></a>
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.label }}</td>
                <td>{{ category.description }}</td>
                <td class="text-center">
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
