{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="file" name="images" id="article_image" class="form-control" multiple="multiple">
    <button class="btn btn-primary my-2">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_article_index') }}" class="btn btn-secondary my-2">{{ button_label|default('Annuler') }}</a>
{{ form_end(form) }}
