<div class="row">
    {% set idCategory = 0 %}
    {% for article in articles %}
        {% set idCategory = article.category.id %}
    <!-- Single Advisor-->
    <div class="col-6 col-sm-4 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
            <!-- Team Thumb-->
            <div class="advisor_thumb" style="background-image: url('{{ asset('uploads/' ~ article.image) }}')">
                <!-- Social Info-->
                <div class="social-info"></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info d-flex justify-content-end">
                <div class="p-4 pb-0">
                    <h6>DUO#{{ article.id }}</h6>
                </div>
            </div>
            <div class="bactions d-flex justify-content-between" style="margin-top: -11px; z-index: 0;">
                <div class="p-4 position-relative">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-decoration-none stretched-link">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="p-4 position-relative">
                    <a href="javascript:void(0)" data-path="{{ path('app_wishlist_add', {id: article.id}) }}" class="text-decoration-none stretched-link addToCart">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-6 col-sm-4 col-lg-3 position-relative">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
            <!-- Team Thumb-->
            <div class="advisor_thumb" style="background-image: url('https://placehold.co/600x600/FFF/A5F?text=Voir%20plus');">
                <!-- Social Info-->
                <div class="social-info"></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info d-flex justify-content-end">
                <div class="p-4 pb-0">
                    <h6>&nbsp;</h6>
                </div>
            </div>
            <div class="bactions d-flex justify-content-between" style="margin-top: -11px; z-index: 0;">
                <div class="p-4">
                    <a href="{{ path('app_category_articles', {'id': idCategory}) }}" class="text-decoration-none stretched-link">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>