{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Label</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Pointure</th>
                <th>MinCmd</th>
                <th>MinCmdUnit</th>
                <th>Poids</th>
                <th>Longueur</th>
                <th>Largeur</th>
                <th>Hauteur</th>
                <th>Disponible</th>
                <th>CreatedAt</th>
                <th>EditedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.label }}</td>
                <td>{{ article.couleur }}</td>
                <td>{{ article.taille }}</td>
                <td>{{ article.pointure }}</td>
                <td>{{ article.minCmd }}</td>
                <td>{{ article.minCmdUnit }}</td>
                <td>{{ article.poids }}</td>
                <td>{{ article.longueur }}</td>
                <td>{{ article.largeur }}</td>
                <td>{{ article.hauteur }}</td>
                <td>{{ article.disponible ? 'Yes' : 'No' }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.editedAt ? article.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
