{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>
        Articles
        <a href="{{ path('app_article_add') }}" title="Ajouter un nouvel article"><i class="fa-solid fa-circle-plus"></i></a>
        <a href="{{ path('app_category_index') }}" title="Liste des catégories"><i class="fa-solid fa-layer-group"></i></a>
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="200">Image</th>
                <th>Nom</th>
                <th>Couleur dispo</th>
                <th>Taille dispo</th>
                <th>Pointure dispo</th>
                <th>Qté min de commande</th>
                <th>Unité de commande</th>
                <th>Poids (g)</th>
                <th>Longueur (cm)</th>
                <th>Largeur (cm)</th>
                <th>Hauteur (cm)</th>
                <th class="text-center">Dispo</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    <a href="{{ asset('uploads/' ~ article.image) }}" target="_blank">
                        <img src="{{ asset('uploads/' ~ article.image) }}" class="rounded img-thumbnail" />
                    </a>
                </td>
                <td>{{ article.label }}</td>
                <td>{{ article.couleur }}</td>
                <td>{{ article.taille }}</td>
                <td>{{ article.pointure }}</td>
                <td>{{ article.minCmd }}</td>
                <td>{{ article.minCmdUnit }}</td>
                <td>{{ article.poids }}</td>
                <td>{{ article.longueur }}</td>
                <td>{{ article.largeur }}</td>
                <td>{{ article.hauteur }}</td>
                <td class="text-center">{{ article.disponible ? '<i class="fa-solid fa-circle-check"></i>' : '<i class="fa-regular fa-circle"></i>' }}</td>
                <td class="text-center">
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
